<!-- Author: Stephen R. Piccolo -->
<!-- Contact: https://piccolo.byu.edu -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Tooljig: A simple approach to building Common Workflow Language tool descriptions and workflows</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<!--Here we import any JavaScript libraries that we need.-->
<!--Dev version of Vue<script--><script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--Production version of Vue<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.14.0/js-yaml.min.js"></script>

<!--Here we define any custom CSS attributes that we want to be used.-->
<style>
    .panel-default {
        cursor: pointer;
        background-color: #f7f2ef;
        color:#000000;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 4px 4px 0px 0px;
        border: 1px solid #f7f2ef;
}
</style>

<div class="container" align="left">
    <div id="cwl_app">
        <h2>ToolJig: A simple approach to building Common Workflow Language tool descriptions and workflows</h2>

        <p><img src="https://github.com/srp33/ToolJig/raw/master/Logo.jpg" width="400" /><br /><small><a href="https://unsplash.com/@vekonyorsi" target="_blank" class="text-muted" style="font-size: 10px">Image credit</a></small>
        </p>

        <p>The <a href="https://www.commonwl.org/" target="_blank">Common Workflow Language</a> (CWL) is an open specification for describing command-line tools and workflows. CWL documents are used in many scientific disciplines to ensure that tools and workflows can be executed in a manner that is portable across workflow engines and computer systems. <em>ToolJig</em> facilitates creation of CWL tool descriptions, workflows, and input-object files for those tools. <strong>This portion of ToolJig focuses on building workflows.</strong> Use <a href="tool.html" target="_blank">this app</a> if you wish to create tool descriptions.</p>

        <p>Workflows created in ToolJig are fully compatible with v1.1 of the <a href="https://commonwl.org/v1.1" target="_blank">CWL specification</a>. You can see some example CWL workflows <a href="https://github.com/srp33/ToolJig" target="_blank">here</a>. Our goal is support <em>common</em> use cases for research analyses. However, some options within the CWL specification are <em>not</em> supported; users should consult the specification if they wish to use other available features.</p>

        <hr style="border: 1px solid black;border-radius: 1px;" />

        <h4 class="card-title">Upload existing file (optional):</h4>

        <p>If you previously created a CWL workflow using ToolJig, you can upload it and then edit the information below. <font color="darkorange">(Uploading an existing file may not work for CWL files that were not created using alternative means.)</font> If you do <em>not</em> need to edit an existing CWL file, skip this step.</p>

        <div class="form-group">
            <input id="upload_file" type="file" placeholder="Please specify a file to be uploaded." class="form-control" v-on:change="onUploadFile" />
        </div>

        <hr style="border: 1px solid black;border-radius: 1px;" />

        <p>This section enables you to create a CWL workflow. Please fill in the information as requested below. Required field = <font color="red">*</font>.</p>

        <div class="panel panel-default" ref="inputPanel">
            <h4 class="card-title">Specify basics<sup><font color="red">*</font></sup>:</h4>

            <div class="form-group">
                <label for="workflow_id">Workflow identifier:</label>
                <input v-model="workflow_id" id="workflow_id" type="text" placeholder="Please enter a unique identifier." class="form-control" aria-describedby="helpBlock" />
                <div id="helpBlock" class="form-text text-muted">
                    This identifier must contain only letters, numbers, and underscores. This identifier will be used within the name of the CWL document that is generated.
                </div>
            </div>

            <div class="form-group">
                <label for="workflow_label">Label:</label>
                <input v-model="workflow_label" id="workflow_label" type="text" placeholder="Please enter a short description of the workflow." class="form-control" aria-describedby="helpBlock" />
                <div id="helpBlock" class="form-text text-muted">
                    This description will inform workflow users about its purpose and function.
                </div>
            </div>

            <div class="form-group">
                <label for="doc">Description:</label>
                <textarea v-model="doc" id="doc" rows=5 cols=100 placeholder="You may enter a longer description of the workflow." class="form-control" aria-describedby="helpBlock"></textarea>
                <div id="helpBlock" class="form-text text-muted">
                    This optional description can provide more detailed documentation about the workflow.
                </div>
            </div>

            <div class="form-group">
                <label for="author_name">Author's name:</label>
                <input v-model="author_name" id="author_name" type="text" placeholder="Please enter the author's name." class="form-control" aria-describedby="helpBlock" />
                <div id="helpBlock" class="form-text text-muted">
                    This is optional. Specifying the author's name is helpful to others who may use the workflow.
                </div>
            </div>

            <div class="form-group">
                <label for="author_orcid">Author's ORCID identifier:</label>
                <input v-model="author_orcid" id="author_orcid" type="text" placeholder="Please enter the author's ORCID identifier." class="form-control" aria-describedby="helpBlock" />
                <div id="helpBlock" class="form-text text-muted">
                    This is optional. Specifying the author's <a href="https://orcid.org" target="_blank">ORCID identifier</a> enables others who may use the workflow to obtain more information about the author.
                </div>
            </div>

            <div class="form-group">
                <label for="license">License:</label>
                <select v-model="license" id="license" class="form-control" class="form-control" aria-describedby="helpBlock">
                    <option value="AFL-3.0">Academic Free License v3.0</option>
                    <option value="Apache-2.0">Apache License 2.0</option>
                    <option value="BSD-3-Clause">BSD 3-Clause "New" or "Revised" License</option>
                    <option value="CC0-1.0">Creative Commons Zero v1.0 Universal</option>
                    <option value="CDDL-1.1">Common Development and Distribution License 1.1</option>
                    <option value="LGPL-3.0-or-later">GNU Lesser General Public License v3.0 or later</option>
                    <option value="MIT">MIT License</option>
                </select>
                <div id="helpBlock" class="form-text text-muted">
                    Please select a software license that applies to this CWL document. This will indicate conditions under which others can use the document. Details about these licenses and a more complete list can be found <a href="https://spdx.org/licenses/" target="_blank">here</a>. 
                </div>
            </div>

            <p v-if="basics_errors.length"><font color="red">
                <b>Please correct the following error(s):</b>
                <ul>
                  <li v-for="error in basics_errors">{{ error }}</li>
                </ul>
                </font>
            </p>
        </div>

        <div class="panel panel-default" ref="uploadToolPanel">
            <h4 class="card-title">Upload tool descriptions:</h4>

            <p>The first step to creating a workflow is to upload CWL tool descriptions that will be used as steps within the workflow.</p>

            <div class="form-group">
                <input id="upload_tool_file" type="file" placeholder="Please specify a file to be uploaded." class="form-control" v-on:change="onUploadToolFile" />
            </div>

            <p v-if="upload_tool_errors.length > 0"><font color="red">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in upload_tool_errors">{{ error }}</li>
                </ul>
                </font>
            </p>

            <p v-if="tools.length > 0">Here you can see which tool files have been uploaded. You can also remove (<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>) these files if you wish.</p>

            <ol class="list-group">
                <li v-for="tool in tools" class="list-group-item">{{ tool.name }}
                    <button v-on:click="deleteTool(tool)" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </li>
            </ol>
        </div>

        <div class="panel panel-default" ref="stepsPanel" v-if="tools.length > 0">
            <h4 class="card-title">Define workflow steps:</h4>

            <p>Here you can define each step of the workflow.</p>

            <form v-on:submit.prevent="addStep">

            <div class="form-group">
                <label for="step_tool">Please specify a name for this step:</label>
                <input v-model="newStepName" id="newStepName" type="text" placeholder="Only letters, numbers, and underscores are allowed." class="form-control" />
            </div>

            <div class="form-group">
                <label for="step_tool">Select a tool for this step:</label>
                <select v-model="newStepToolName" id="newStepToolName" class="form-control" v-on:change="getNewStepToolData">
                    <option disabled value="">Please select one...</option>
                    <option v-for="tool in tools" v-bind:value="tool.name">
                        {{ tool.name }}
                    </option>
                </select>
            </div>

            <div class="form-group" v-if="newStepToolInputs.length > 0">
                <label for="step_inputs">Specify input source(s):</label>

                <p>The inputs for <code>{{ newStepToolName }}</code> are shown below. For each input, there are two options: 1) create a new input for the entire workflow that will be mapped to this input, or 2) indicate that the output of a prior step will be mapped to this input. Please indicate either option below. <span v-if="this.steps == 0">Because this is the first step of the workflow, the inputs can only come from the workflow inputs.</span></p>

                <input_dropdown 
                    v-for="(input, index) in newStepToolInputs" 
                    :key="input.name"
                    v-bind="input"
                    v-model="newStepToolInputs[index].value">
                </input_dropdown>
            </div>

            <div class="form-group" v-if="newStepToolOutputs.length > 0">
                <label for="step_inputs">Specify output destination(s) for this input:</label>

                <p>The outputs for <code>{{ newStepToolName }}</code> are shown below. For each output, please indicate whether you would like the output to be collected for the entire workflow. If not, the output can be used as input in another step of the workflow.</p>

                <output_checkbox 
                    v-for="(output, index) in newStepToolOutputs" 
                    :key="output.name"
                    v-bind="output"
                    v-model="newStepToolOutputs[index].value">
                </output_checkbox>
            </div>

            <p v-if="steps_errors.length > 0"><font color="red">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in steps_errors">{{ error }}</li>
                </ul>
                </font>
            </p>

            <div class="form-group" v-if="steps_errors.length == 0">
                <button class="btn btn-info">Add / Update</button>
            </div>
            </form>

            <p v-if="steps.length > 0">Here you can see which steps have been added. You can also edit (<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>) or remove (<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>) steps if you wish.</p>

            <ol class="list-group">
                <li v-for="step in steps" class="list-group-item">{{ step.stepName }}
                    <button v-on:click="editStep(step)" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button v-on:click="deleteStep(step)" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </li>
            </ol>

            <pre v-text="cwl" v-if="cwl"></pre>
        </div>
    </div>
</div>

<script>
    Vue.component("input_dropdown", {
        props: ['name', 'relevantOutputs', 'value'],
        template: `<div class="form-group">{{ name }}:
                <select v-on:change="updateVal" v-model="text" class="form-control">
                    <option value="Workflow_Input">Create a new workflow input that will be mapped to this input</option>
                    <option v-for="output in relevantOutputs"  v-bind:value="output">
                        Use the {{ output.outputName }} output of the {{ output.stepName }} step
                    </option>
                </select>
            </div>`,
        data() { return { text:null } },
        created() { this.text = this.value; },
        methods:{ updateVal() { this.$emit('input', this.text); } }
    });

    Vue.component("output_checkbox", {
        props: ['name', 'value'],
        template: `<div class="checkbox">
                    <label>
                     <input type="checkbox" class="form-check-input" v-on:change="updateVal" v-model="checked" id="output_checkbox">
                     {{ name }}
                    </label>
                   </div>`,
        data() { return { checked:null } },
        created() { this.checked = this.value; },
        methods:{ updateVal() { this.$emit('input', this.checked); } }
    });

    // This is the main Vue app.
    new Vue({
        el: "#cwl_app",

        // The data attribute stores data that will be rendered.
        data: {
            upload_file: "",
            basics_errors: [],
            upload_tool_errors: [],
            steps_errors: [],
            //overall_input_errors: [],
            workflow_id: "abc_workflow",
            //TODO: workflow_id: "",
            workflow_label: "This is a label",
            //TODO: workflow_label: "",
            //TODO: doc: "",
            doc: "This is a really cool workflow. This description is kinda long kinda longkinda long kinda longkinda long kinda longkinda long kinda longkinda long kinda longkinda long kinda longkinda long kinda longkinda long kinda longkinda long kinda longkinda long kinda longkinda long kinda long.",
            //TODO: author_name: "",
            author_name: "Stephen Piccolo",
            //TODO: author_orcid: "",
            author_orcid: "https://orcid.org/0000-0003-2001-5640",
            license: "Apache-2.0",
            workflow_inputs: [],
            //TODO: workflow_inputs: [{name: "a_string", type: "string", doc: "This is a very interesting string input.", secondaryFiles: [], format: "", value: ""}, {name: "an_integer", type: "int", doc: "This must be an integer.", secondaryFiles: [], format: "", value: ""}],
            //TODO: tools: [],
            tools: [{name: "test.cwl", contents: jsyaml.safeLoad(`cwlVersion: v1.1
class: CommandLineTool
label: add tool
doc: |-
    This is a really cool tool...
inputs:
  number1:
    type: int
    doc: |-
      An integer
  number2:
    type: int
    doc: |-
      A second number
  output_file_name:
    type: string
    doc: |-
      Name of the output file
      #Output_File=edam:format_1964
outputs:
  output_from_input_1:
    type: File
    outputBinding:
      glob: "$(inputs.output_file_name)"
    doc: |-
      Output file matching the name specified in the "output_file_name" input.
    format: edam:format_1964
  int_output:
    type: int
    doc: |-
      Placeholder
    format: edam:format_1964
  standard_output:
    type: stdout
    format: edam:format_1964
  standard_error:
    type: stderr
    format: edam:format_1964`)}, {name: "test2.cwl", contents: jsyaml.safeLoad(`cwlVersion: v1.1
class: CommandLineTool
label: add tool
doc: |-
    This is a really cool tool...
inputs:
  number1:
    type: int
    doc: |-
      An integer
  number2:
    type: int
    doc: |-
      A second number
  output_file_name:
    type: string
    doc: |-
      Name of the output file
      #Output_File=edam:format_1964
outputs:
  output_from_input_1:
    type: File
    outputBinding:
      glob: "$(inputs.output_file_name)"
    doc: |-
      Output file matching the name specified in the "output_file_name" input.
    format: edam:format_1964
  int_output:
    type: int
    doc: |-
      Placeholder
    format: edam:format_1964
  standard_output:
    type: stdout
    format: edam:format_1964
  standard_error:
    type: stderr
    format: edam:format_1964`)}],
            //TODO: 
            //steps: [],
            steps: [{stepName: "first_step", toolName: "test.cwl", inputSources: ["Workflow_Input", "Workflow_Input", "Workflow_Input"], useAsWorkflowOutputs: [false, true, false]}, {stepName: "second_step", toolName: "test2.cwl", inputSources: ["Workflow_Input", {outputName: "int_output", stepName: "first_step"}, "Workflow_Input"], useAsWorkflowOutputs: [false, true, false]}],
            newStepName: "",
            newStepToolName: "",
            newStepToolInputs: [],
            newStepToolOutputs: []
        },

        // Computed attributes build content dynamically for display in the app.
        // In this app, we also perform input validation before returning cwl and job documents.
        computed: {
            cwl: function() {
                this.basics_errors = [];
                this.upload_tool_errors = [];
                //this.overall_input_errors = [];

                if (this.workflow_id.trim() == "")
                    this.basics_errors.push("Please specify a workflow identifier.");

                if (/[^A-Za-z0-9_]+/.test(this.workflow_id))
                    this.basics_errors.push("The workflow identifier must only container letters, numbers, and underscores.")

                if (this.workflow_label.trim() == "")
                    this.basics_errors.push("Please specify a label.");

                if (this.author_orcid.trim() != "" && !this.isValidORCID(this.author_orcid))
                    this.basics_errors.push("Please specify a valid ORCID identifier (e.g., https://orcid.org/0000-0001-2222-3456).");

                if (this.tools.length < 1)
                    this.upload_tool_errors.push("Please upload at least one tool.");

                //if (this.basics_errors.length > 0 || this.upload_tool_errors.length > 0 || this.overall_input_errors.length > 0)
                if (this.basics_errors.length > 0 || this.upload_tool_errors.length > 0)
                    return "";

                return `cwlVersion: v1.1
class: Workflow
label: ${this.workflow_label}
${this.buildOptionalString("doc: |-\n", this.indent(2, this.doc))}

${this.buildOptionalString("inputs:\n", this.indent(2, this.parseWorkflowInputs()))}

${this.buildOptionalString("outputs:\n", this.indent(2, this.parseWorkflowOutputs()))}

${this.buildOptionalString("steps:\n", this.parseSteps())}

${this.parseAuthorInfo()}

s:dateCreated: "${this.getTodayDate()}"
s:license: https://spdx.org/licenses/${this.license}
 
$namespaces:
  s: https://schema.org/
  edam: http://edamontology.org/
$schemas:
 - https://schema.org/version/latest/schema.rdf
 - http://edamontology.org/EDAM_1.23.owl
            `.replace(/\n\n/g, "\n").replace(/\n\n/g, "\n").trim();
            },
            cwl_file_name: function() { return `${this.workflow_id}.cwl`; },
            job_file_name: function() { return `${this.workflow_id}_objects.yml`; },
            example_command: function() {
                return `cwltool ${this.cwl_file_name} ${this.job_file_name}`;
            }
        },

        // These are functions to make the logic a bit modular.
        methods: {
            onUploadFile: function(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!e.target.files.length) {
                    console.log("No file was detected.");
                    return;
                }

                const reader = new FileReader();

                reader.onload = event => {

	            }

	            reader.onerror = (e) => {
                    alert("An error occurred when trying to parse the input file. Please contact the developer for help in addressing this problem.")
	                console.error(e);
	            }

	            // reader.readAsText(e.target.files[0]);
            },
            getYamlValue: function(yaml_dict, key_array) {
                // This goes iteratively deeper into the dictionary to try to find the value.
                my_dict = yaml_dict;
                var i;
                for (i = 0; i < key_array.length; i++) {
                    key = key_array[i];
                    if (key in my_dict)
                        my_dict = my_dict[key];
                    else
                        return "";
                }
                
                return my_dict;
            },
            onUploadToolFile: function(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!e.target.files.length) {
                    console.log("No file was detected.");
                    return;
                }

                const reader = new FileReader();

                reader.onload = event => {
                    var fileName = e.target.files[0].name;
                    var fileContents = jsyaml.safeLoad(reader.result);

                    // Make sure a file with this name has not been uploaded.
                    var i;
                    for (i = 0; i < this.tools.length; i++) {
                        if (this.tools[i].name == fileName) {
                            alert("Multiple tool descriptions with the same name cannot be used. The most recently upload file was ignored.");
                            return;
                        }
                    }

                    this.tools.push({
                        name: fileName,
                        contents: fileContents
                    });
	            }

	            reader.onerror = (e) => {
                    alert("An error occurred when trying to parse the tool file. Please contact the developer for help in addressing this problem.")
	                console.error(e);
	            }

	            reader.readAsText(e.target.files[0]);
            },
            deleteTool: function (x) {
                this.tools = this.tools.filter(function(value, index, arr) {
                    return value.name != x.name;
                })
            },
            // This is invoked when they select a tool for a given step.
            getNewStepToolData: function () {
                this.newStepToolInputs = [];
                this.newStepToolOutputs = [];

                // First find the tool that they selected.
                // Note: the logic in this function would be simpler if I used objects more and arrays
                //       less, but I'm more familiar with arrays for now.
                var i;
                for (i = 0; i < this.tools.length; i++) {
                    if (this.tools[i].name == newStepToolName.value) {
                        // Iterate through all the relevant inputs for that tool.
                        var j;
                        for (j = 0; j < Object.keys(this.tools[i].contents["inputs"]).length; j++) {
                            var inputName = Object.keys(this.tools[i].contents["inputs"])[j];
                            var inputType = this.tools[i].contents["inputs"][inputName]["type"];
                            
                            // Find outputs from other steps that match the type of this input.
                            var relevantOutputs = [];
                            var k;
                            for (k = 0; k < this.steps.length; k++) {
                                // Find the tool associated with this step.
                                var l;
                                for (l = 0; l < this.tools.length; l++) {
                                    if (this.tools[l].name == this.steps[k].toolName) {
                                        // Iterate through the outputs of this tool.
                                        var m;
                                        for (m = 0; m < Object.keys(this.tools[l].contents["outputs"]).length; m++) {
                                            var outputName = Object.keys(this.tools[l].contents["outputs"])[m];
                                            var outputType = this.tools[l].contents["outputs"][outputName]["type"];

                                            if (inputType == outputType) {
                                                relevantOutputs.push({
                                                    stepName: this.steps[k].stepName,
                                                    outputName: outputName
                                                });
                                            }
                                        }
                                    }
                                }
                            }

                            this.newStepToolInputs.push({
                                name: inputName,
                                type: inputType,
                                doc: this.tools[i].contents["inputs"][inputName]["doc"],
                                relevantOutputs: relevantOutputs,
                                value: "Workflow_Input"
                            });
                        }

                        // Iterate through the outputs and find any that the user might want to use as workflow outputs.
                        // Deliberately exclude standard out and standard error.
                        var j;
                        for (j = 0; j < Object.keys(this.tools[i].contents["outputs"]).length; j++) {
                            var outputName = Object.keys(this.tools[i].contents["outputs"])[j];
                            var outputType = this.tools[i].contents["outputs"][outputName]["type"];

                            if (outputType == "stdout" || outputType == "stderr")
                                continue;

                            this.newStepToolOutputs.push({
                                name: outputName,
                                type: outputType,
                                value: false
                            });
                        }

                        break;
                    }
                }
            },
            addStep() {
                var inputSources = [];
                var i;
                for (i = 0; i < this.newStepToolInputs.length; i++) {
                    console.log(this.newStepToolInputs[i].value);
                    inputSources.push(this.newStepToolInputs[i].value);
                }

                var useAsWorkflowOutputs = [];
                var i;
                for (i = 0; i < this.newStepToolOutputs.length; i++) {
                    useAsWorkflowOutputs.push(this.newStepToolOutputs[i].value);
                }

                this.steps.push({
                    stepName: this.newStepName,
                    toolName: this.newStepToolName,
                    inputSources: inputSources,
                    useAsWorkflowOutputs: useAsWorkflowOutputs
                });

                this.newStepName = "";
                this.newStepToolName = "";
                this.newStepToolInputs = [];
                this.newStepToolOutputs = [];
            },
            parseWorkflowInputs() {
                var result = "";

                var i;
                for (i = 0; i < this.steps.length; i++) {
                    var stepName = this.steps[i].stepName;
                    var toolName = this.steps[i].toolName;

                    var j;
                    for (j = 0; j < this.steps[i].inputSources.length; j++) {
                        if (this.steps[i].inputSources[j] == "Workflow_Input") {
                            inputInfo = this.getToolInfo(toolName, "inputs", j);
                            result += `${stepName}__${inputInfo.name}: ${inputInfo.type}\n`;
                            //result += `${inputInfo.name}: ${inputInfo.type}\n`;
                        }
                    }
                }

                return result;
            },
            parseWorkflowOutputs() {
                var result = "";

                var i;
                for (i = 0; i < this.steps.length; i++) {
                    var stepName = this.steps[i].stepName;
                    var toolName = this.steps[i].toolName;

                    /TODO: Need to revise this logic to support outputSource.
                    var j;
                    for (j = 0; j < this.steps[i].useAsWorkflowOutputs.length; j++) {
                        if (this.steps[i].useAsWorkflowOutputs[j]) {
                            outputInfo = this.getToolInfo(toolName, "outputs", j);
                            result += `${stepName}__${outputInfo.name}: ${outputInfo.type}\n`;
                        }
                    }
                }

                return result;
            },
            getToolInfo(toolName, topLevelKey, index) {
                var i;
                for (i = 0; i < this.tools.length; i++) {
                    if (this.tools[i].name == toolName) {
                        var name = Object.keys(this.tools[i].contents[topLevelKey])[index];

                        return {
                            name: name,
                            type: this.tools[i].contents[topLevelKey][name]["type"],
                            doc: this.tools[i].contents[topLevelKey][name]["doc"]
                        };
                    }
                }
            },
            parseSteps() {
                var result = "";

                var i;
                for (i = 0; i < this.steps.length; i++) {
                    var stepName = this.steps[i].stepName;
                    var toolName = this.steps[i].toolName;

                    result += `  ${stepName}:\n`;
                    result += `    run: ${toolName}\n`;

                    var inputResult = "";
                    var j;
                    for (j = 0; j < this.steps[i].inputSources.length; j++) {
                        var inputInfo = this.getToolInfo(toolName, "inputs", j);

                        if (this.steps[i].inputSources[j] == "Workflow_Input") {
                            inputResult += `      ${inputInfo.name}: ${stepName}__${inputInfo.name}\n`;
                            //inputResult += `      ${inputInfo.name}: ${inputInfo.name}\n`;
                        }
                        else {
                            inputResult += `      ${inputInfo.name}: ${stepName}/${this.steps[i].inputSources[j].outputName}\n`;
                        }
                    }

                    if (inputResult.length > 0)
                        result += "    in:\n" + inputResult;

                    var outputResult = "";
                    var j;
                    for (j = 0; j < this.steps[i].useAsWorkflowOutputs.length; j++) {
                        var outputInfo = this.getToolInfo(toolName, "outputs", j);

                        if (outputInfo.type == "stdout" || outputInfo.type == "stderr")
                                continue;

                        /TODO: This section isn't quite right. Probably need to simplify.
                        // if (this.steps[i].useAsWorkflowOutputs[j]) {
                        //     outputResult += `      ${outputInfo.name}: ${stepName}__${outputInfo.name}\n`;
                        //     //outputResult += `      ${inputInfo.name}: ${inputInfo.name}\n`;
                        // }
                        // else {
                        //     outputResult += `      ${outputInfo.name}: ${stepName}/${Object.keys(outputInfo)}\n`;
                        // }
                    }

                    if (outputResult.length > 0)
                        result += "    out:\n" + outputResult;
                }

                return result;
            },
            parseAuthorInfo() {
                author_info = "";
                if (this.author_name.trim() != "" || this.author_orcid.trim() != "") {
                    author_info += " \ns:author:\n";
                    author_info += "  - class: s:Person\n";

                    if (this.author_name.trim() != "")
                        author_info += `    s:name: ${this.author_name.trim()}\n`;
                    if (this.author_orcid.trim() != "")
                        author_info += `    s:identifier: ${this.author_orcid.trim()}\n`;
                    author_info += " \n";
                }

                return author_info;
            },
            buildOptionalString: function(prefix, value) {
                if (value == "")
                    return "";
                else
                    return prefix + value;
            },
            indent: function(numSpaces, value) {
                if (value == "")
                    return "";

                prefix = "";
                var i;
                for (i = 0; i < numSpaces; i++)
                    prefix += " ";

                lines = value.split("\n");
                result = "";

                for (i = 0; i < lines.length; i++)
                {
                    result += prefix + lines[i];
                    if (i != (lines.length - 1))
                        result += "\n";
                }

                return result;
            },
            downloadCwl: function() {
                this.downloadFile(this.cwl_file_name, this.cwl);
            },
            downloadJob: function() {
                this.downloadFile(this.job_file_name, this.job);
            },
            downloadFile: function(fileName, contents) {
                //https://ourcodeworld.com/articles/read/189/how-to-create-a-file-and-generate-a-download-with-javascript-in-the-browser-without-a-server
                var element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(contents));
                element.setAttribute('download', fileName);
                element.style.display = 'none';
                document.body.appendChild(element);
                element.click();
                document.body.removeChild(element);
            },
            getTodayDate: function() {
                var d = new Date();
                return [
                d.getFullYear(),
                ('0' + (d.getMonth() + 1)).slice(-2),
                ('0' + d.getDate()).slice(-2)
                ].join('-');
            },
            isValidORCID: function(orcid) {
                return (/https:\/\/orcid.org\/\d{4}-\d{4}-\d{4}-\d{4}/.test(orcid));
            }
        }
    });
</script>

</body>
</html>